@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f5f5f5;
}

#container {
    display: flex;
    flex-flow: column nowrap; 
    height: 100vh;
    width: 100vw;
}

#header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 7px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#opc {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#box-res {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: rgb(30, 30, 30);
    color: white;
    margin: auto;
    border-radius: 5px;
    width: 98%;
    max-width: 450px;
}

#texto {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 15px;
}

#res {
    color: #009dff;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
}

#btn {
    padding: 5px 15px;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all .5s linear;
}

#btn:hover {
    background-color: white;
    color: black;
}

h1 {
    color: #009dff;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: all .3s linear;
}

a:hover {
    transform: translateY(-2px);
}

@media screen and (min-width: 768px) {
    #header {
        flex-flow: row nowrap;
        justify-content: space-around;
        padding: 15px;
    }

    #btn {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    a {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    #header {
        justify-content: space-evenly;
    }
}